@import "_pico.scss";

html,
body {
  height: 100%;
}

a.external {
  background-image: url(/external-link.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.857em;
  padding-right: 1em;
}

header {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 2px var(--pico-color) dashed;

  nav a {
    color: var(--pico-h3-color);
  }
}

.employer .icon {
  display: flex;
  gap: 20px;
  align-items: end;
  margin-bottom: 1em;
}

.employment-time {
  text-decoration: underline;
}

a:has(article) {
  text-decoration: inherit;
  --pico-color: var(--pico-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    flex-grow: 1;
  }

  > header > footer {
    flex-grow: 0;
    flex-shrink: 0;
  }

  > footer {
    display: flex;
    align-items: center;
    height: 3rem;
  }
}
