@use "sass:map";
@use "_picocss/_settings" as *;
@use "_picocss/pico.scss";

html,
body {
  height: 100%;
}

a.external-link::after {
  content: "";
  background-color: var(--pico-color);
  mask: url(/external-link.svg) no-repeat center / contain;
  padding-right: 1em;
}

header {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 2px var(--pico-color) dashed;

  nav {
    align-items: baseline;

    @media (max-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
      flex-direction: column;

      ul {
        width: 100%;
        justify-content: space-around;
      }
    }

    a {
      --pico-color: var(--pico-h3-color);

      strong {
        font-size: 40px;
        position: relative;
      }
    }

    img {
      max-height: 1em;
    }
  }
}

.employer .icon {
  display: flex;
  gap: 20px;
  align-items: end;
  margin-bottom: 1em;
}

.employer .icon {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  @media (max-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
    flex-direction: column;
  }

  .employment-time {
    text-decoration: underline;
  }
}

a:has(article) {
  text-decoration: inherit;
  --pico-color: var(--pico-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    flex-grow: 1;
  }

  > header > footer {
    flex-grow: 0;
    flex-shrink: 0;
  }

  > footer {
    display: flex;
    align-items: center;
    height: 3rem;
  }
}
